{% extends "base.html" %} {% block title %}How To Use{% endblock %} {% block
    content %}
    <h1>How To Use</h1>
    <br />
    <p>To generate an image of either a dog, a math symbol or a made-up marvel superhero, you first need to go to the link(by clicking the options at the top) 
        of the respective image type.  To generate a dog or a math symbol, you must input a valid dog species or math symbol into the 
        input box(valid symbols/species must be entered as seen below but are not case sensitive). Once you have gotten to this point, 
        you must click the generate button(or enter if you are doing dogs/math symbols and didn't click away from the input box) to 
        generate the images. Images will be generated shortly after and you should try not to click generate again or the process of creating the images will restart. 
        Some important things you should know are: 
        If you refresh the page once images are generated it will generate new images of the same species/symbol. 
        If you want to get back to a page without any images generated you can click the link in the top for the page you are on. 
        If you want to see the valid species/symbols once the images are generated you can scroll down.
    </p>
    <br />
    <h1>Valid Dog Species</h1>
    <br />
    <ul>
        {% for dogspecies in validdogs %}
        <li>{{dogspecies}}</li>
        {% endfor %}
    </ul>  
    <br />
    <h1>Valid Math Symbols</h1>
    <br />
    <ul>
        {% for mathsymbol in validsymbols %}
        <li>{{mathsymbol}}</li>
        {% endfor %}
    </ul> 
    {% endblock %}