{% extends "base.html" %} {% block title %}How To Use{% endblock %} {% block
    content %}
    <h1>How To Use</h1>
    <br />
    <b>To generate an image of either a dog, a math symbol, or a Marvel inspired superhero, follow the steps below.
    </b>
    <ol>
        <li>Go to the link (by clicking the options at the top) of the respective image category. </li>
        <li>To generate a dog or a math symbol, input a valid dog species or math symbol into the input box 
            (valid symbols/species must be entered as seen below but are not case sensitive). </li>
        <li>Once you have gotten to this point, click the generate button (or click the Enter button if you are generating dogs/math symbols) to generate the images. </li>
        <li>Images will be generated shortly after, and clicking the generate button again will restart the process of creating images. </li>
    </ol>
    <br />
    <b>* Some important things you should know are: </b>
    <ol type = "a">
        <li>If you refresh the page once images are generated, it will generate new images of the same species/symbol. </li>
        <li>If you want to get back to a page without any images generated, you can click the link in the top for the page you are on.  </li>
        <li>If you want to see the valid species/symbols once the images are generated, you can scroll down.</li>
    </ol>
    <br />
    <br />
    <h1>Valid Dog Species</h1>
    <br />
    <ul>
        {% for dogspecies in validdogs %}
        <li>{{dogspecies}}</li>
        {% endfor %}
    </ul>  
    <br />
    <h1>Valid Math Symbols</h1>
    <br />
    <ul>
        {% for mathsymbol in validsymbols %}
        <li>{{mathsymbol}}</li>
        {% endfor %}
    </ul> 
    {% endblock %}