{% extends "base.html" %} {% block title %}Generate Marvel Superheroes{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Generate Marvel Superheroes</h3>
      <br />
      <button type="submit" class="btn btn-primary">Generate</button>
      <br />
    </form>
    <br />
    {% if urls%}
    {% for url in urls %}
        <img src= {{url}}>
    {% endfor %}
    {% endif %}
    <br />
    <h1>Only click generate once, it takes time for the website to respond. If the website does not respond in a minute that means you did not click generate.</h1>
    {% endblock %}