{% extends "base.html" %} {% block title %}Generate Math Symbols{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Generate Math Symbols</h3>
      <div class="form-group">
        <label for="species">Symbol</label>
        <input
          type="text"
          class="form-control"
          id="symbol"
          name="symbol"
          placeholder="Enter symbol"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Generate</button>
      <br />
    </form>
    <br />
    {% if urls%}
    {% for url in urls %}
        <img src= {{url}}>
    {% endfor %}
    {% endif %}
    <br />
    <h1>Only click generate once, it takes time for the website to respond. If the website does not respond in a minute that means you did not click generate.</h1>
    <br />
    <b>
      You can scroll down to see the valid symbols once you generate an image.
    </b>
    <br />
    <br />
    <br />
    <h1>Valid Math Symbols</h1>
    <br />
    <b>
      *Tip: use control f on windows or control f on mac to search if a certain symbol is valid*
    </b>
    <br />
    <br />
    <ul>
        {% for mathsymbol in validsymbols %}
        <li>{{mathsymbol}}</li>
        {% endfor %}
    </ul> 
    {% endblock %}